.body__container {
  max-width: 900px;
  max-height: 900px;
  margin: 0 auto;
  padding: 0 10px;
  background-image: url('/image/kusja.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container__form {
  display:block;
  padding-top: 400px;
  padding-bottom: 300px;
  margin: 0 auto;
}
