@import './container.css';
@import './button.css';
@import './form.css';
/* @import './base/container';  */


body {
  font-family: 'Roboto', sans-serif;

  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.hero__title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
